* {
    background: rgb(237, 239, 242);
    font-family: 'Inter';
    font-size: 20px;
}

main{
    margin: 0px 30px;
    min-height: 600px;
    width: 100%;
    box-sizing: border-box;
    display: flex;
}

.wrapper{
    display: flex;
}

.one{
    margin: 0px 60px;
    min-width: 300px;
    min-height: 320px;
    padding: 100px 20px;
}

.two{
    background-color: white;
    border-radius: 20px;
    min-height: 320px;
    box-sizing: border-box;
    min-width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 100px 20px;
}

.logo{
    padding-top: 10px;
    padding-left: 10px;
    width: 30px;
    height: 40px;
}

.texto{
    border: none;
    color: rgb(23, 23, 105);
    margin: 25px 0px;
    padding: 60px 0px;
    text-transform: lowercase;
    display: flex;
    min-height: 250px;
    box-sizing: border-box;
    width: 100%;
}
::placeholder{
    color: rgb(23, 23, 105);
}.texto:focus{
    outline: none;
}

.encriptado{
    border: none;
    background-image: url("../files/looking.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 50%;
    border-radius: 20px;
    color: rgb(23, 23, 105);
    margin: 25px 0px;
    padding: 60px 0px;
    display: flex;
    min-height: 250px;
    box-sizing: border-box;
}
.encriptado:focus{
    outline: none;
}


.botones{
    display: flex;
    margin-top: 18px;
}

.btn-encriptar{
    background: #D8DFE8;
    border: 1px solid #0a3871;
    border-radius: 18px;
    color: #0a3871;
    cursor: pointer;
    height: 60px;
    margin-left: 30px;
    min-width: 200px;
}

.btn-desencriptar{
    background: #0a3871;
    border: 1px solid #0a3871;
    border-radius: 18px;
    color: white;
    cursor: pointer;
    height: 60px;
    margin-left: 30px;
    min-width: 200px;
}

.btn-copiar{
    border: 1px solid #0a3871;
    border-radius: 18px;
    color: #0a3871;
    cursor: pointer;
    height: 60px;
}

footer{
    margin-top: 2.5%;
    text-decoration: none;
    text-align: center;
    font-size: 12px;
    font-display: block;
}

.restriccion {
    color: #495057;
    font-size:18px;
}